/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/.env.*
!/backend/.env.example
/backend/storage/framework/cache/data/
/backend/storage/framework/sessions/
/backend/storage/framework/views/
/backend/storage/logs/
/backend/bootstrap/cache/

/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.*
!/frontend/.env.example

.DS_Store
Thumbs.db
*.log
